* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-width: 100px;
}

body {
  font-family: sans-serif;
  background: #C1908B;
}

.container {
  max-width: 95%;
  margin: auto;
  height: 80vh;
  margin-top: 5%;
  background: white;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

.left, .right {
  width: 30%;
  padding: 10px;
}

.flex {
  display: flex;

}

.flex1 {
  display: flex;
}

.main_image {

  height: auto;
}

.option img {
  width: 95px;
  height: 85px;
  padding: 10px;
}

.right {
  padding: 50px 100px 50px 50px;
}

h3 {
  color: gray;
  margin: 20px 0 20px 0;
  font-size: 15px;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: gray;
    text-decoration: line-through;
}
.new-price span{
    color: blue;
    font-size: 30px;
}
h5{
    font-size: 15px;
}
label,
.add span,
.color span {
  width: 25px;
  height: 25px;
  background: #000;
  margin: 20px 10px 20px 0;
}

.color span:nth-child(1) {
  background: #EFE0DE;
}

.color span:nth-child(2) {
  background: green;
}

.color span:nth-child(3) {
  background: blue;
}

.color span:nth-child(4) {
  background: pink;
}

.size{
    font-size: 13px;
    color: black;
}

.add label,
.add span {
  background: none;
  border: 1px solid #C1908B;
  color: #C1908B;
  text-align: center;
  line-height: 25px;
}

.add label {
  padding: 10px 30px 0 20px;
  line-height: 0;
}

.quantity {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
.quantity-controls {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.control-button {
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px
}
.button {
    border: 1.5px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.btn{
    width: 100px;
}
.btn{
    cursor: pointer;
    color: black;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
